{% extends 'layout/baseform.html' %}
{% block content %}
<div class="framesignup">
  <div class="row">
      <div class="col-lg-8 offset-lg-2" >
        <div class="signuplink-body">
          <h2 class="mt-4"><b> Change Password </b></h2>
          <form method="post" novalidate>
              {% csrf_token %}
              {{ form }}
              <button type="submit"  name="signup_button" class="btn btn-signin mt-2">เปลี่ยนรหัสผ่าน</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
