{% extends 'layout/baselogin.html' %}
{% block content %}

<!-- <div class="framechange">
  <div class="row">
      <div class="col-lg-8 offset-lg-2" >
        <div class="signuplink-body">
          <h2 class="mt-4"><b> เปลี่ยนรหัสผ่าน </b></h2>
          <form method="post" novalidate>
              {% csrf_token %}
              <div class="form-control"><p>รหัสปัจจุบัน {{ form.old_password }}</p>
              <p>รหัสใหม่{{ form.new_password1 }}</p>
              <p>ยืนยันรหัสใหม่{{ form.new_password2 }}</p>
              </div>
              <button type="submit"  name="signup_button" class="btn btn-signin mt-2">เปลี่ยนรหัสผ่าน</button>
          </form>
      </div>
    </div>
  </div>
</div> -->



<div class="framesignin">
  <div class="row">
      <div class="col-lg-8 offset-lg-2" >
        <div class="signuplink-body">
          <h2 class="mt-4" style="font-weight: 300;"><b> Change Password </b></h2>
          <form method="post" novalidate>
              {% csrf_token %}
              <div class="mb-2">
                <label for="id_old_password" class="form-label" style="font-size: 14px;">รหัสปัจจุบัน</label>
                <input type="password"  class="form-control" name="old_password" maxlength="150" required id="id_old_password" placeholder="Current password">
              </div>
              <div class="mb-1">
                <label for="id_new_password1" class="form-label" style="font-size: 14px;">รหัสใหม่</label>
                <input type="password"  class="form-control" name="new_password1" autocomplete="current-password" required id="id_new_password1" placeholder="New Password">
              </div>
              <div class="mb-1">
                <label for="id_new_password2" class="form-label" style="font-size: 14px;">ยืนยันรหัสใหม่</label>
                <input type="password"  class="form-control" name="new_password2" autocomplete="current-password" required id="id_new_password2" placeholder="New Password">
              </div>
              <button type="submit"  name="signup_button" class="btn btn-signin mt-4">เปลี่ยนรหัสผ่าน</button>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
