<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      font-size: 11pt;
      font-family: "Tahoma",sans-serif;
    }
    .table-colored{
      width: 100%;
    }
  </style>
</head>
<body>
  {% if payment %}

<div class="container">
    <div class="row">
        <h3 style="text-align: center;"><b>สรุปรายได้</b></h3>
        <h7 style="text-align: center;">ตั้งแต่วันที่ {{start_date}} ถึง {{end_date}}</h7>
        <div class="col-lg-8 offset-lg-2">
           <table class="table-colored" border="1">
            <tr>
              <th>ลำดับ</th>
              <th>รายการ</th>
              <th>จำนวนเงิน</th>
            </tr>

            {% for i in payment %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ i.video__name}}</td>
              <td>{{ i.total_payment}}</td>
            </tr>

            {% endfor %}



          </table>
          <div style="text-align: right;">รวมเป็นเงิน {{total_payment}}<br>
            หัก ค่าธรรมนเนียมนเว็บไซต์ {{fee}}<br>
            จำนวนเงินรวมทั้งสิ้น {{total_fee}}

          </div>


          </div>
        </div>
      </div>
{% endif %}
</body>
</html>


