{% extends "layout/baseform.html" %}
{% block title %} Add Course Page {% endblock %}

{% block content %}
<div class="container">
    <h6 style="float: left;"><i class="fa fa-chevron-left"></i><a href="{% url 'video:management_course' %}"> ย้อนกลับ</a></h6>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card shadow-sm mb-5 border-0">
                <div class="card-body">
            <h3 style="text-align: center;"><b>เพิ่มคอร์สเรียน</b></h3>
            <div class="formaddcourse">
            <form id ='add_form' method="post" enctype="multipart/form-data" novalidate style="text-align: center;" data-catsub-url="{% url 'video:ajax_load_category_sub' %}">
                {% csrf_token %}
                <table class="table-form">
                    {{ form.as_table }}
                </table>
                <button type="submit" name="saveadd_button" class="btn btn-save">บันทึก</button>
            </form>
            </div>
                </div>
            </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_category").change(function () {
    var url = $("#add_form").attr("data-catsub-url");  // get the url of the `load_cities` view
    var categoryId = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'category': categoryId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_category_sub").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
</script>
{% endblock %}

