{% extends "layout/baseform.html" %}

{% load static %}

{% block title %} Index Page {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h3 style="text-align: center;"><b>ประวัติการซื้อ
        </b></h3>
        <h5 style="float: left;"><i class="fa fa-chevron-left"></i><a href="{% url 'video:index' %}"> ย้อนกลับ</a></h5>

    </div>

    {% for i in payment_list %}
    <div class="card card-list">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          {% if i.video.image.url %}
          <a href="{% url 'video:detail' slug=i.video.slug %}" class="video-box">
            <img src="{{i.video.image.url}}" alt="" class="img-fluid">
            <div class="video-player">
              <i class="fa fa-circle-play fa-4x"></i>
            </div>
          </a>
          {% endif %}
        </div>
        <div class="col-lg-8">
            <h4><a href="{% url 'video:detail' slug=i.video.slug %}">{{ i.video.name }}</a></h4>
            <div class="History_description">{{ i.video.description }}</div>
            <div class="History_chapter">ประกอบไปด้วย {{ i.video.videochapter_set.count }} บทเรียน , {{ i.video.videolesson_set.count }} วีดีโอ</div>
            <div class="float-end">{{ i.video.price }}</div>
            <div>วันที่ทำการสั่งซื้อ {{ i.payment_date|date:'d/m/Y' }}</div>
        </div>
      </div>

    </div>
  </div>
<!--
    <div class="card mb-2" style="border-radius: 25px;">
      <div class="p-5">
        <div class="row">
          <div class="col-lg-4" >
            <div class="video-box">
            {% if i.video.image.url %}
              <img src="{{i.video.image.url}}" alt="" class="img-fluid">
            {% endif %}
          </div>
          <div class="col-lg-8">
            <h4><a href="{% url 'video:detail' slug=i.video.slug %}">{{ i.video.name }}</a></h4>
            <div class="">{{ i.video.description }}</div>
            <div class="">ประกอบไปด้วย {{ i.video.videochapter_set.count }} บทเรียน , {{ i.video.videolesson_set.count }} วีดีโอ</div>
            <div class="float-end">{{ i.video.price }}</div>
            <div>วันที่ทำการสั่งซื้อ {{ i.payment_date|date:'d/m/Y' }}</div>
          </div>
        </div>
    </div>

    </div>




  </div> -->
  {% endfor %}
</div>
{% endblock%}

