{% extends "layout/base.html" %}
{% load static %}
{% block title %} How to use ? {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h3 style="text-align: center;"><b>วิธีใช้งาน</b></h3>
        <h5 style="float: left;"><a href="{% url 'video:index' %}" style="text-decoration: none;"><i class="fa fa-chevron-left"></i>ย้อนกลับ</a></h5>
    </div>
    {% for i in img %}
    <div class="card card-Banner mb-4" style=" border: none;">
      <img class="Banner" src="{% static 'img/howto' %}{{ i }}.png" alt="" style="width: 80%; height: auto;"  >
    </div>
    {% endfor %}
</div>

{% endblock%}
