{% extends "layout/base.html" %}

{% load static %}
{% load humanize %}

{% block title %} Home Page {% endblock %}

{% block content %}


<div class="container ">
  <div class="card card-Banner mb-5">
    <img class="Banner" src="{% static 'img/Banner.png' %}" alt="" style="width: 100%; height: auto;">
  </div>

    <!-- Featured Courses --->
  <div class="mb-4">
    <h4 style="font-weight:500">คอร์สแนะนำ</h4>
  </div>

  <div class="row mb-4">
    {% for b in video_list %}
    <div class="col-lg-3 d-flex align-items-stretch ">

      <div class="card card-course mb-4 " style="width: 300px;">

        <a href="{% url 'video:detail' slug=b.slug %}" style="background-color: black;">
          {% if b.image %}
            <img src="{{b.image.url}}" alt="" class="card-img-top" style="height:180px;object-fit: scale-down;">
          {% endif %}
        </a>
      <div class="card-body">
        {% if b.member.Profile_image %}
        <div class="profile">

          <img src="{{b.member.Profile_image.url}}" alt="" >
        </div>
        {% endif %}
        <h5><a href="{% url 'video:detail' slug=b.slug %}">{{b.name}}</a></h5>
        <h4></h4>
        <div class="small">
          <i class="fa fa-video"></i>
          {{ b.videolesson_set.count }} วีดีโอ
        </div>
        <div class="small">
          ผู้สอน {{b.member}}
        </div>

        <div class="float-start">
          {{ b.get_rating|safe }}
          <span>( {{b.average_rating}} )</span>
        </div>
      </div>

      <div class="card-footer border-0 bg-transparent">
        {% if b.price == 0 %}
          <h5 style="color: #080">ฟรี</h5>
        {% else %}
          <h5>฿ {{b.price|floatformat:0|intcomma}} </h5>
        {% endif %}
      </div>

      </div>

    </div>
    {% endfor %}
  </div>

  <!-- New Courses --->
  <div class="mb-4">
    <h4 style="font-weight:500">คอร์สใหม่ล่าสุด</h4>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          {% for b in videonew_list1 %}
          <div class="col-lg-3 d-flex align-items-stretch">
            <div class="card card-course mb-4" style="width: 300px;">
              <a href="{% url 'video:detail' slug=b.slug %}" style="background-color: black;">
                {% if b.image %}
                  <img src="{{b.image.url}}" alt="" class="card-img-top" style="height: 200px;object-fit: scale-down;">
                {% endif %}
              </a>
              <div class="card-body">
                {% if b.member.Profile_image %}
                  <div class="profile">
                    <img src="{{b.member.Profile_image.url}}" alt="">
                  </div>
                {% endif %}
                <h5><a href="{% url 'video:detail' slug=b.slug %}">{{b.name}}</a></h5>
                <h4></h4>
                <div class="small">
                  <i class="fa fa-video"></i>
                  {{ b.videolesson_set.count }} วีดีโอ
                </div>
                <div class="small">
                  ผู้สอน {{b.member}}
                </div>
                <div class="float-start">
                  {{ b.get_rating|safe }}
                  <span>( {{b.average_rating}} )</span>
                </div>
              </div>
              <div class="card-footer border-0 bg-transparent">
                {% if b.price == 0 %}
                  <h5 style="color: #080">ฟรี</h5>
                {% else %}
                  <h5>฿ {{b.price|floatformat:0|intcomma}} </h5>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          {% for b in videonew_list2 %}
          <div class="col-lg-3 d-flex align-items-stretch">
            <div class="card card-course mb-4">
              <a href="{% url 'video:detail' slug=b.slug %}">
                {% if b.image %}
                  <img src="{{b.image.url}}" alt="" class="card-img-top" style="height: 200px;">
                {% endif %}
              </a>
              <div class="card-body">
                {% if b.member.Profile_image %}
                  <div class="profile">
                    <img src="{{b.member.Profile_image.url}}" alt="">
                  </div>
                {% endif %}
                <h5><a href="{% url 'video:detail' slug=b.slug %}">{{b.name}}</a></h5>
                <h4></h4>
                <div class="small">
                  <i class="fa fa-video"></i>
                  {{ b.videolesson_set.count }} วีดีโอ
                </div>
                <div class="small">
                  ผู้สอน {{b.member}}
                </div>
                <div class="float-start">
                  {{ b.get_rating|safe }}
                  <span>( {{b.average_rating}} )</span>
                </div>
              </div>
              <div class="card-footer border-0 bg-transparent">
                {% if b.price == 0 %}
                  <h5 style="color: #080">ฟรี</h5>
                {% else %}
                  <h5>฿ {{b.price|floatformat:0|intcomma}} </h5>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container">
  <div class="card card-Banner mb-4 shadow-sm" style="border-color: #f5f7f9; background-image: url('/static/img/Banner2.png'); background-size: cover;padding: 90px 20px 90px 20px;margin-top: 80px;">
    <h4 class="display-7 fw-bold text-body-emphasis">ลงคอร์สเรียนออนไลน์กับเรา</h4>
      <p class="lead mb-4">สนใจลงประกาศคอร์สฝึกอบรมของคุณ เพื่อเผยแพร่สู่ผู้เรียนและรับรายได้จากค่าธรรมเนียมต่างๆ</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'video:video_add' %}" type="button" class="btn btn-primary btn-lg px-4 gap-3">ลงคอร์สกับเรา</a>
      </div>
  </div>
</div>

<div class="container py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'img/onlineclass.jpeg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-4 fw-bold text-body-emphasis lh-1 mb-5" style="line-height: 5em;">Level Up Your Skills, Everything in One Platform</h1>
      <div class="mb-4">
        <h5><b><i class="fa-regular fa-clock" style="width:40px;color: #8195be;font-size: 26px;"></i> เรียนออนไลน์ทุกที่ ทุกเวลา</b></h5>
        <h7>ด้วยคอร์สกว่า 15+ หลักสูตร คุณสามารถเรียนออนไลน์ทุกเวลา รองรับทุกอุปกรณ์</h7>
      </div>
      <div class="mb-4">
        <h5><b><i class="fa-solid fa-computer" style="width:40px;color: #8195be;font-size: 26px;"></i> เฉพาะหลักสูตรด้านไอทีเท่านั้น</b></h5>
        <h7>เราเลือกเฉพาะหลักสูตรด้านไอทีเท่านั้น ช่วยให้ผู้เรียนสามารถค้นหาคอร์สที่สนใจได้ง่าย</h7>
      </div>
      <div class="mb-4">
        <h5><b><i class="fa-solid fa-users" style="width:40px;color: #8195be;font-size: 26px;"></i> ให้ผู้สอน, ผู้เรียนมาพบกัน</b></h5>
        <h7>เราใช้ marketplace ที่ช่วยให้ผู้สอนเผยแพร่คอร์สดีๆ และผู้เรียนสามารถหาคอร์สจากผู้สอนที่น่าสนใจได้ทันที</h7>
      </div>
    </div>
  </div>
</div>

{% endblock%}
